<p id="notice"><%= notice %></p>

<h1>Listing Submarines</h1>

<table>
  <thead>
    <tr>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><%= shoe.material %></td>
        <td><%= link_to 'Show', shoe %></td>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submarine', new_shoe_path %>
<br>
  <tr>
      <td><button class ='submarine'></td>
        Create Submarines!
      </button>
      <div class="shoe-rack"></div>
  </tr>
<input type = 'text' class = 'input'>
